# URL to where the REVOLT app is publicly accessible
REVOLT_APP_URL=https://${ADDRESS}

# URL to where the API is publicly accessible
REVOLT_PUBLIC_URL=https://${ADDRESS}/api
VITE_API_URL=https://${ADDRESS}/api

# URL to where the WebSocket server is publicly accessible
REVOLT_EXTERNAL_WS_URL=wss://${ADDRESS}/ws

# URL to where Autumn is publicly available
AUTUMN_PUBLIC_URL=https://${ADDRESS}/autumn

# URL to where January is publicly available
JANUARY_PUBLIC_URL=https://${ADDRESS}/january

# URL to where Vortex is publicly available
VOSO_PUBLIC_URL=https://${ADDRESS}/vortex

##
## hCaptcha Settings
##

# If you are sure that you don't want to use hCaptcha, set to 1.
REVOLT_UNSAFE_NO_CAPTCHA=1

# hCaptcha API key ( https://www.hcaptcha.com/ )
# REVOLT_HCAPTCHA_KEY=*********

# hCaptcha site key
# REVOLT_HCAPTCHA_SITEKEY=*********

##
## Email Settings
##

# If you are sure that you don't want to use email verification, set to 1.
REVOLT_UNSAFE_NO_EMAIL=1

# SMTP host
# REVOLT_SMTP_HOST=smtp.example.com

# SMTP username
# REVOLT_SMTP_USERNAME=noreply@example.com

# SMTP password
# REVOLT_SMTP_PASSWORD=CHANGEME

# SMTP From header
# REVOLT_SMTP_FROM="REVOLT <noreply@example.com>"


##
## Application Settings
##

# Connection REDIS & MONGO
REVOLT_MONGO_URI=mongodb://database
REVOLT_REDIS_URI=redis://redis/

# Whether to only allow users to sign up if they have an invite code
REVOLT_INVITE_ONLY=0

# Maximum number of people that can be in a group chat
REVOLT_MAX_GROUP_SIZE=9999

# VAPID keys for push notifications
# Generate using this guide: https://gitlab.insrt.uk/revolt/delta/-/wikis/vapid
# --> Please replace these keys before going into production! <--
REVOLT_VAPID_PRIVATE_KEY=${VAPID_PRIVATE_KEY}
REVOLT_VAPID_PUBLIC_KEY=${VAPID_PUBLIC_KEY}

##
## Autumn configuration
##

# Connection MONGO
AUTUMN_MONGO_URI=mongodb://database

# S3 Region
AUTUMN_S3_REGION=minio

# S3 Endpoint
AUTUMN_S3_ENDPOINT=http://minio:9000

# MinIO Root User
MINIO_ROOT_USER=minioautumn

# MinIO Root Password
MINIO_ROOT_PASSWORD=minioautumn

##
## Vortex configuration
##

RTC_IPS=0.0.0.0,${PUBLIC_IP}
RTC_MIN_PORT=10001
RTC_MAX_PORT=10100
WS_URL=wss://${ADDRESS}/vortex-ws
MANAGE_TOKEN=${VORTEX_TOKEN}
VOSO_MANAGE_TOKEN=${VORTEX_TOKEN}
VOSO_WS_HOST=wss://${ADDRESS}/vortex-ws
